@import "../../css/reset.css";
@import "../../css/theme.css";

#sbar {
  display: flex;
  flex-direction: row;
  gap: 0px;

  width: 40vw;
  height: 2.2vw;

  background-color: #00000000;
  border: 0px solid #00000000;
}

#sbar * {
  margin: 0px;
}

#sbar button {
  border: 0px;

  border-radius: 0px 20px 20px 0px;
  flex-grow: 1;

  font-weight: var(--fw-extrabold);

  transform: scale(1);
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  transition: transform 0.1s ease-in-out;
}

#sbar button:hover {
  transform: scale(1.02);
  opacity: 0.9;
  transition: opacity 0.3s ease-in-out;
  transition: transform 0.1s ease-in-out;
}

#sbar button:active {
  transform: scale(1.04);
  opacity: 0.8;
  transition: opacity 0.3s ease-in-out;
  transition: transform 0.1s ease-in-out;
}

#sbar input {
  border-radius: 20px 0px 0px 20px;
  flex-grow: 9;

  padding: 5px 10px;
}

input {
  border: 1px solid var(--detail);
}

button {
  background-color: var(--detail);
  color: var(--lg-text);
}

@media only screen and (max-width: 600px) {
  #sbar {
    width: 80vw;
    height: 4.4vh;
  }
}
